<form name="LandEdit" ng-submit="Edit()">
<div class="container" style="margin-top:105px;">
	<div class="row">
        <div class="col-md-8" style="float:none; margin:0 auto;">
            <!-- Landing page details-->
                    <div class="panel panel-land1">
                    <div class="panel-heading">
                     <h3 class="panel-title text-center">Landing page details</h3></div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="label-control col-md-2">Name:</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Name of your landing page ex:(Landing-page-name)" class="form-control" ng-model="Landing.name" required disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-2">Title:</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="The title of your campaign" class="form-control" ng-model="Landing.title" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-2">Hyperlink:</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="The url the user will be redirected to ex: (google.com)" class="form-control" ng-model="Landing.link">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-2">Creator:</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="" class="form-control" ng-model="Landing.username" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</div>


<div class="row" >
        <div class="col-md-8" style="float:none; margin:0 auto;">
        <!--Contact info-->
            <div class="panel panel-land1">
                <div class="panel-heading text-center"><h3 class="panel-title">Contact info</h3></div>
                    <div class="panel-body"> 

                            <div class="form-group">
                                <label class="label-control col-md-3">Contact phone:</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="A phone number you want to display" class="form-control" ng-model="Landing.cphone" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-3">Contact name:</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="A name you want to display" class="form-control" ng-model="Landing.cname" required>
                                </div>
                            </div>
                    

                            <div class="form-group">
                                <label class="label-control col-md-3">Contact email:</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="An email you want to display" class="form-control" ng-model="Landing.cemail" required>
                                </div>
                            </div>
                    </div>
                </div>

              <!-- Social media -->
                  <div class="panel panel-land1">
                   <div class="panel-heading text-center"> <h3 class="panel-title">Social media</h3> </div>
                   <div class="panel-body">
                            <div class="form-group">
                                <label class="label-control col-md-3">Facebook page:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Leave it blank if you don't have a Facebook page" aria-describedby="basic-addon2" ng-model="Landing.fb">
                                      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-facebook-official" style="color:#3b5998;"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-3">Twitter page:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Leave it blank if you don't have a Twitter page" aria-describedby="basic-addon2" ng-model="Landing.tw">
                                      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-twitter-square" aria-hidden="true" style="color:#489fdf"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control col-md-3">Youtube page:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Leave it blank if you don't have a Youtube page" aria-describedby="basic-addon2" ng-model="Landing.yt">
                                      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-youtube-play" aria-hidden="true" style="color:red;"></i></span>
                                    </div>
                                </div>
                            </div>



                   </div>
                </div>
             </div>        
         </div>

         <div class="row">
             <div class="col-md-1" style="float:none; margin:0 auto;">
                 <button class="btn btn-land1" type="submit" ng-disabled="LandEdit.$invalid">Save edit</button>
             </div>
         </div>
</div>
</form>